asgiref==3.8.1
crispy-bootstrap5==2026.3
cryptography
Django==4.2
django-crispy-forms==2.5
djangorestframework==3.16.0
lxml==6.0.0
mysqlclient==2.2.7
pillow==12.2.0
PyMuPDF==1.27.2.2
PyMySQL==1.1.1
python-docx==1.2.0
python-dotenv==1.2.2
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
prometheus-client==0.21.0 
prometheus-flask-exporter==0.23.2
django-prometheus==2.3.1
