<script>
    const designations = [
        "চেয়ারম্যান",
		"পরিচালক",
		"সচিব",
		"মহাব্যবস্থাপক",
        "উপমহাব্যবস্থাপক",
        "সহকারী মহাব্যবস্থাপক",
        "সম্প্রসারণ কর্মকর্তা",
		"আঞ্চলিক পরিচালক",
		"নিয়ন্ত্রক (হিসাব ও অর্থ)",
		"প্রধান প্রকৌশলী",
		"উপমহাব্যবস্থাপক",
		"প্রধান নিরীক্ষা কর্মকর্তা",
		"আইটি সেল প্রধান",
		"উপ-সচিব",
		"সহকারী মহাব্যবস্থাপক",
		"ব্যবস্থাপক",
		"উপপ্রধান নিরীক্ষা কর্মকর্তা",
		"উপনিয়ন্ত্রক",
		"উপপ্রধান প্রকৌশলী",
		"উপপ্রধান মেডিক্যাল অফিসার",
		"উপব্যবস্থাপক",
		"প্রোগ্রামার",
		"সহকারী প্রোগ্রামার",
		"সহকারী মেইনটেন্যান্স ইঞ্জিনিয়ার",
		"বিশেষজ্ঞ",
		"সহকারী নিয়ন্ত্রক (হিসাব ও অর্থ)",
		"সহকারী প্রধান নিরীক্ষা কর্মকর্তা",
		"নির্বাহী প্রকৌশলী",
		"প্রশাসনিক কর্মকর্তা",
		"কর্মীব্যবস্থাপনা কর্মকর্তা",
		"পরিকল্পনা কর্মকর্তা",
		"গবেষণা কর্মকর্তা",
		"উর্ধ্বতন সমন্বয় কর্মকর্তা",
		"প্রটোকল অফিসার",
		"প্রশিক্ষণ কর্মকর্তা",
		"হিসাব রক্ষণ কর্মকর্তা",
		"অডিট অফিসার",
		"বাজেট অফিসার",
		"ফাইস্যান্স অফিসার",
		"ক্রেডিট অফিসার",
		"প্রযুক্তি কর্মকর্তা",
		"সহকারী প্রকৌশলী",
		"ডাটা এনালিষ্ট",
		"সম্প্রসারণ কর্মকর্তা",
		"এনালিষ্ট",
		"মাননিয়ন্ত্রণ কর্মকর্তা",
		"মার্কেটিং কর্মকর্তা",
		"প্রমোশন কর্মকর্তা",
		"জরীপ ও তথ্য কর্মকর্তা",
		"মেডিক্যাল অফিসার",
		"শিল্পনগরী কর্মকর্তা",
		"টেকনিক্যাল অফিসার",
		"ড্রাফটস্ম্যান",
		"রিসিপশন অফিসার",
		"সিকিউরিটি অফিসার",
		"ষ্টোর অফিসার",
		"রেকর্ড অফিসার",
		"সহকারী হিসাব রক্ষণ কর্মকর্তা",
		"সমন্বয় কর্মকর্তা",
		"লাইসেনসিং অফিসার",
		"সহকারী প্রশাসনিক কর্মকর্তা",
		"সহকারী নিরীক্ষা কর্মকর্তা",
		"সহকারী লাইব্রেরীয়ান",
		"ষ্টেনোগ্রাফার",
		"উচ্চমান সহকারী",
		"ষ্টোর সহকারী",
		"কেয়ার টেকার",
		"পরিদর্শক",
		"মাননিয়ন্ত্রণ সহকারী",
		"নিরাপত্তা পরিদর্শক",
		"বাজেট সহকারী",
		"হিসাব সহকারী",
		"ফাইনান্স সহকারী",
		"নিরীক্ষা সহকারী",
		"হিসাব রক্ষণ তথা কোষাধ্যক্ষ",
		"ক্যাশিয়ার",
		"ইলেকট্রিশিয়ান",
		"কম্পাউন্ডার",
		"ক্লিনিক্যাল সহকারী",
		"সাঁট-মুদ্রাক্ষরিক",
		"করনিক-তথা-মুদ্রাক্ষরিক",
		"ফটোমেশিন অপারেটর",
		"ড্রাইভার",
		"টেলিফোন অপারেটর",
		"লিফটম্যান",
		"কার্পেন্টার",
		"রিসিপশনিষ্ট",
		"পাম্প চালক",
		"ডুপ্লিকেটিং মেশিন অপারেটর",
		"ক্যাশ সরকার",
		"ভেহিক্যাল মেকানিক এ্যাসিসট্যান্ট",
		"প্লাম্বার মিস্ত্রি",
		"রেকর্ড কিপার"
    ];

    const offices = [
        "পরিচালক (প্রশাসন) দপ্তর, বিসিক প্রধান কার্যালয়, ঢাকা",
		"হিসাব ও অর্থ বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"প্রশাসন বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"সম্প্রসারণ বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"প্রকল্প ব্যবস্থাপনা ও বাস্তবায়ন বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"পরিকল্পনা ও গবেষণা বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"শিল্প নগরী ও সমন্বয় শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"এমআইএস বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"বিপণন বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"নিরীক্ষা বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"দক্ষতা ও প্রযুক্তি বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"পুরকৌশল বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"নকশা কেন্দ্র, বিসিক প্রধান কার্যালয়, ঢাকা",
		"উন্নয়ন বিভাগ, বিসিক প্রধান কার্যালয়, ঢাকা",
		"প্রশিক্ষণ শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"উপকরণ শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"ঋণ প্রশাসন শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"গবেষণা শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"আইসিটি সেল, বিসিক প্রধান কার্যালয়, ঢাকা",
		"আইন সেল, বিসিক প্রধান কার্যালয়, ঢাকা",
		"মনিটরিং সেল, বিসিক প্রধান কার্যালয়, ঢাকা",
		"লবণ সেল, বিসিক প্রধান কার্যালয়, ঢাকা",
		"লেদার সেল, বিসিক প্রধান কার্যালয়, ঢাকা",
		"বোর্ড শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"জনসংযোগ শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"মেডিকেল শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"লাইব্রেরি শাখা, বিসিক প্রধান কার্যালয়, ঢাকা",
		"বিসিক টেনিং ইন্সটিটিউট , উত্তরা, ঢাকা",
		"বিসিক আঞ্চলিক কার্যালয়, ঢাকা",
		"বিসিক আঞ্চলিক কার্যালয় চট্টগ্রাম",
		"বিসিক আঞ্চলিক কার্যালয়, খুলনা	",
		"বিসিক আঞ্চলিক কার্যালয়, রাজশাহী",
		"বিসিক জেলা কার্যালয়, ঢাকা",
		"বিসিক জেলা কার্যালয়, ফরিদপুর",
		"বিসিক জেলা কার্যালয়, নারায়ণগঞ্জ",
		"বিসিক জেলা কার্যালয়, জামালপুর",
		"বিসিক জেলা কার্যালয়, রাজবাড়ী",
		"বিসিক জেলা কার্যালয়, গোপালগঞ্জ",
		"বিসিক জেলা কার্যালয়,  মানিকগঞ্জ",
		"বিসিক জেলা কার্যালয়, গাজীপুর",
		"বিসিক জেলা কার্যালয়, নেত্রকোণা",
		"বিসিক জেলা কার্যালয়, শেরপুর",
		"বিসিক জেলা কার্যালয়, ময়মনসিংহ",
		"বিসিক জেলা কার্যালয়, নরসিংদী",
		"বিসিক জেলা কার্যালয়, কিশোরগঞ্জ",
		"বিসিক জেলা কার্যালয়, টাঙ্গাইল",
		"বিসিক জেলা কার্যালয়, চট্টগ্রাম",
		"বিসিক জেলা কার্যালয়, কুমিল্লা",
		"বিসিক জেলা কার্যালয়, নোয়াখালী",
		"বিসিক জেলা কার্যালয়, কক্সবাজার",
		"বিসিক জেলা কার্যালয়, চাঁদপুর",
		"বিসিক জেলা কার্যালয়, ফেনী",
		"বিসিক জেলা কার্যালয়, ব্রাহ্মণবাড়িয়া",
		"বিসিক জেলা কার্যালয়, লক্ষ্মীপুর",
		"বিসিক জেলা কার্যালয়, রাঙ্গামাটি",
		"বিসিক জেলা কার্যালয়, বান্দরবান",
		"বিসিক জেলা কার্যালয়, খাগড়াছড়ি",
		"বিসিক জেলা কার্যালয়, সিলেট",
		"বিসিক জেলা কার্যালয়, হবিগঞ্জ",
		"বিসিক জেলা কার্যালয়, মৌলভীবাজার",
		"বিসিক জেলা কার্যালয়, সুনামগঞ্জ",
		"বিসিক জেলা কার্যালয়, খুলনা",
		"বিসিক জেলা কার্যালয়, যশোর",
		"বিসিক জেলা কার্যালয়, কুষ্টিয়া",
		"বিসিক জেলা কার্যালয়, বাগেরহাট",
		"বিসিক জেলা কার্যালয়, সাতক্ষীরা",
		"বিসিক জেলা কার্যালয়, ঝিনাইদহ",
		"বিসিক জেলা কার্যালয়, মেহেরপুর",
		"বিসিক জেলা কার্যালয়, চুয়াডাঙ্গা",
		"বিসিক জেলা কার্যালয়, মাগুরা",
		"বিসিক জেলা কার্যালয়, নড়াইল",
		"বিসিক জেলা কার্যালয়, পিরোজপুর",
		"বিসিক জেলা কার্যালয়, ভোলা",
		"বিসিক জেলা কার্যালয়, বরগুনা",
		"বিসিক জেলা কার্যালয়, ঝালকাঠী",
		"বিসিক জেলা কার্যালয়, রাজশাহী",
		"বিসিক জেলা কার্যালয়, পাবনা",
		"বিসিক জেলা কার্যালয়, রংপুর",
		"বিসিক জেলা কার্যালয়, দিনাজপুর",
		"বিসিক জেলা কার্যালয়, গাইবান্ধা",
		"বিসিক জেলা কার্যালয়, চাঁপাইনবাবগঞ্জ",
		"বিসিক জেলা কার্যালয়, জয়পুরহাট",
		"বিসিক জেলা কার্যালয়, নওগাঁ",
		"বিসিক জেলা কার্যালয়, নীলফামারী",
		"বিসিক জেলা কার্যালয়, পঞ্চগড়",
		"বিসিক জেলা কার্যালয়, ঠাকুরগাঁও",
		"বিসিক জেলা কার্যালয়, কুড়িগ্রাম",
		"বিসিক জেলা কার্যালয়, সিরাজগঞ্জ",
		"বিসিক জেলা কার্যালয়, নাটোর",
		"বিসিক জেলা কার্যালয়, বগুড়া",
		"বিসিক জেলা কার্যালয়, মাদারিপুর",
		"বিসিক জেলা কার্যালয়, শরীয়তপুর",
		"বিসিক জেলা কার্যালয়, মুন্সিগঞ্জ",
		"বিসিক জেলা কার্যালয়, লালমনিরহাট",
		"বিসিক জেলা কার্যালয়, বরিশাল",
		"বিসিক জেলা কার্যালয়, পটুয়াখালী",
        "বিসিক ট্রেনিং ইনস্টিটিউট (বিটিআই), ঢাকা",
        "বিসিক শিল্পনগরী, কালুরঘাট, চট্টগ্রাম",
        "বিসিক শিল্পনগরী, ষোলশহর, চট্টগ্রাম",
        "বিসিক শিল্পনগরী, ফৌজদারহাট, চট্টগ্রাম",
        "বিসিক শিল্পনগরী, পটিয়া, চট্টগ্রাম",
        "বিসিক শিল্পনগরী, মিরসরাই, চট্টগ্রাম",
        "বিসিক শিল্পনগরী, খাদিমনগর, সিলেট",
        "বিসিক শিল্পনগরী, গোটাটিকর, সিলেট",
        "বিসিক শিল্পনগরী, কুমিল্লা",
        "বিসিক শিল্পনগরী, চৌদ্দগ্রাম, কুমিল্লা",
        "বিসিক শিল্পনগরী, নোয়াখালী",
        "বিসিক শিল্পনগরী, বেগমগঞ্জ, নোয়াখালী",
        "বিসিক শিল্পনগরী, চাড়িপুর, ফেনী",
        "বিসিক শিল্পনগরী, নিজকুঞ্জরা, ফেনী",
        "বিসিক শিল্পনগরী, কক্সবাজার",
        "বিসিক শিল্পনগরী, ব্রাহ্মণবাড়িয়া",
        "বিসিক শিল্পনগরী, চাঁদপুর",
        "বিসিক শিল্পনগরী, হবিগঞ্জ",
        "বিসিক শিল্পনগরী, রাঙ্গামাটি",
        "বিসিক শিল্পনগরী, লক্ষ্মীপুর",
        "বিসিক শিল্পনগরী, মৌলভীবাজার",
        "বিসিক শিল্পনগরী, শ্রীমঙ্গল, মৌলভীবাজার",
        "বিসিক শিল্পনগরী, সুনামগঞ্জ",
        "বিসিক শিল্পনগরী, খাগড়াছড়ি",
        "বিসিক শিল্পনগরী, শিরোমনি, খুলনা",
        "বিসিক শিল্পনগরী, বাগেরহাট",
        "বিসিক শিল্পনগরী, সাতক্ষীরা",
        "বিসিক শিল্পনগরী, যশোর",
        "বিসিক শিল্পনগরী, ঝিনাইদহ",
        "বিসিক শিল্পনগরী, কুষ্টিয়া",
        "বিসিক শিল্পনগরী, মেহেরপুর",
        "বিসিক শিল্পনগরী, বরিশাল",
        "বিসিক শিল্পনগরী, স্বরূপকাঠি, পিরোজপুর",
        "বিসিক শিল্পনগরী, পটুয়াখালী",
        "বিসিক শিল্পনগরী, ভোলা",
        "বিসিক শিল্পনগরী, ঝালকাঠি",
        "বিসিক শিল্পনগরী, চুয়াডাঙ্গা",
        "বিসিক শিল্পনগরী, বরগুনা",
        "বিসিক শিল্পনগরী, রাজশাহী",
        "বিসিক শিল্পনগরী, রাজশাহী-২",
        "বিসিক শিল্পনগরী, নাটোর",
        "বিসিক শিল্পনগরী, নওগাঁ",
        "বিসিক শিল্পনগরী, চাঁপাইনবাবগঞ্জ",
        "বিসিক শিল্পনগরী, পাবনা",
        "বিসিক শিল্পনগরী, সিরাজগঞ্জ",
        "বিসিক শিল্পপার্ক, সিরাজগঞ্জ",
        "বিসিক শিল্পনগরী, বগুড়া",
        "বিসিক শিল্পনগরী, জয়পুরহাট",
        "বিসিক শিল্পনগরী, রংপুর",
        "বিসিক শিল্পনগরী, গাইবান্ধা",
        "বিসিক শিল্পনগরী, কুড়িগ্রাম",
        "বিসিক শিল্পনগরী, লালমনিরহাট",
        "বিসিক শিল্পনগরী, নীলফামারী",
        "বিসিক শিল্পনগরী, দিনাজপুর",
        "বিসিক শিল্পনগরী, ঠাকুরগাঁও",
        "বিসিক শিল্পনগরী, পঞ্চগড়",
        "বিসিক শিল্পনগরী, টংগী (গাজীপুর)",
        "বিসিক শিল্পনগরী, ধামরাই (ঢাকা)",
        "বিসিক শিল্পনগরী, কোনাবাড়ী",
        "বিসিক শিল্পনগরী, কেরাণীগঞ্জ (ঢাকা)",
        "বিসিক শিল্পনগরী, এপিআই শিল্প পার্ক, মুন্সিগঞ্জ",
        "বিসিক শিল্পনগরী, কাঁচপুর (নারায়ণগঞ্জ)",
        "বিসিক শিল্পনগরী, হোসিয়ারী (নারায়ণগঞ্জ)",
        "বিসিক শিল্পনগরী, মুন্সিগঞ্জ",
        "বিসিক শিল্পনগরী, মানিকগঞ্জ",
        "বিসিক শিল্পনগরী, নরসিংদী",
        "বিসিক শিল্পনগরী, গোপালগঞ্জ",
        "বিসিক শিল্পনগরী, রাজবাড়ী",
        "বিসিক শিল্পনগরী, ফরিদপুর",
        "বিসিক শিল্পনগরী, শরীয়তপুর",
        "বিসিক শিল্পনগরী, ময়মনসিংহ",
        "বিসিক শিল্পনগরী, কিশোরগঞ্জ",
        "বিসিক শিল্পনগরী, ভৈরব, কিশোরগঞ্জ",
        "বিসিক শিল্পনগরী, নেত্রকোনা",
        "বিসিক শিল্পনগরী, শেরপুর",
        "বিসিক শিল্পনগরী, জামালপুর",
        "বিসিক শিল্পনগরী, টাংগাইল",
        "বিসিক শিল্পনগরী, মাদারীপুর",
        "বিসিক শিল্পনগরী, জামদানী (নারায়নগঞ্জ)",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র মিরপুর, বিসিক ঢাকা",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র টাঙ্গাইল, বিসিক টাঙ্গাইল",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র নরসিংদী, বিসিক নরসিংদী",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র গোপালগঞ্জ, বিসিক গোপালগঞ্জ",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র ব্রাহ্মণবাড়িয়া, বিসিক ব্রাহ্মণবাড়িয়া",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র নোয়াখালী, বিসিক নোয়াখালী",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র বরিশাল, বিসিক বরিশাল",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র সিলেট, বিসিক সিলেট",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র দিনাজপুর, বিসিক দিনাজপুর",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র নীলফামারী, বিসিক নীলফামারী",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র রাজশাহী, বিসিক রাজশাহী",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র ফেনী, বিসিক ফেনী",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র পাবনা, বিসিক পাবনা",
        "দক্ষতা উন্নয়ন প্রশিক্ষণ কেন্দ্র কুমিল্লা, বিসিক কুমিল্লা",

    ];
</script>